@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --enred-primary: #f03c32;
}

@theme {
  --font-grotesk: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);

  --color-red: var(--enred-primary);
  --fill-red: var(--enred-primary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
