@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --enred-red: #F03C32;
  --enred-black: #111111;
}

@theme {
  --font-grotesk: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);

  --color-enred-red: var(--enred-red);
  --color-enred-black: var(--enred-black);
  --fill-red: var(--enred-red);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
