@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --enred-primary: #F03C32;
}

@theme {
  --font-sans: var(--font-SpaceGrotesk-sans);
  --font-mono: var(--font-geist-mono);

  --color-red: var(--enred-primary);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
